aes==1.0.0
alabaster==0.7.12
async-generator==1.10
attrs==21.2.0
Babel==2.9.1
blurb==1.0.8
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
crypto==1.4.1
cryptography==36.0.0
docutils==0.18
h11==0.12.0
idna==3.3
imagesize==1.2.0
Jinja2==3.0.2
lxml==4.6.3
MarkupSafe==2.0.1
Naked==0.1.31
numpy==1.21.4
outcome==1.1.0
packaging==21.0
pandas==1.3.4
pycparser==2.21
pycryptodome==3.11.0
pycryptodomex==3.11.0
Pygments==2.10.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.2
python-doc==2020.10.1
python-docs-theme==2021.5
pytz==2021.1
PyYAML==6.0
requests==2.26.0
selenium==4.0.0
shellescape==3.8.1
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.1.0
sortedcontainers==2.4.0
Sphinx==2.4.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
trio==0.19.0
trio-websocket==0.9.2
urllib3==1.26.7
wsproto==1.0.0
